$my-white:#ffffff;
$my-black:#030303;
$my-dark-gray:#434243;
$my-light-gray:#bcbcbc;
$my-light2-gray:#E8E8E8;
$my-lignt-brown:#937a6b;
$my-brown:#944402;
$my-sky-blue:#2787b2;
$my-orange:#f3790c;
$my-gold:#e3bd5e;
$my-green:#69a10e;
$my-matt-black:#1f1914;
$my-matt-pink:#d6cbbd;
$my-matt-gray:#88978d;
$my-matt-red:#b44a13;
$my-matt-blue:#6f7f8c;
$my-glossy-brown:#b7814d;
$my-glossy-gray:#676059;
$my-glossy-red:#af4913;
$my-glossy-dark-brown:#392b22;
$my-glossy-pink:#f2bf87;